export WORKFLOW_NAME="Pull Request Workflow"
export GITHUB_ACTOR="dependabot[bot]"
export JOB_NAME=build
export STEP_NAME="Check secrets"
export TRIGGER_STRING="SECRETS MISSING"
export LOG_ZIP="/tmp/lambda_logs.zip"
