export WORKFLOW_NAME="Pull Request Workflow"
export GITHUB_ACTOR="shimonacarvalho"
export JOB_NAME=build
export STEP_NAME="Check secrets"
export TRIGGER_STRING="SECRETS MISSING"
export LOG_ZIP="/tmp/lambda_logs.zip"
export GITHUB_REPO="trussworks/dependabot_security_test"
export GITHUB_PULL_LABEL="lambda-retry"
export GITHUB_ENABLE_COMMENT=TRUE
export DRY_RUN=TRUE